<div class="container">

    <a href="#/content">Back to Albums</a>

    <h1 id="album-title"> {{photos[0].album.name}} </h1>
    <p>                 
        {{album.location }} 
        {{ (album.weather.item.condition.temp - 32)  * 5/9  | number:0}}˚ C
        {{album.weather.item.condition.text}}
    </p>
    <hr>

    <div class="row">
    <div class="text-center" ng-repeat="photo in photos">


        <div class="clearfix" ng-if="$index % 2 == 0"></div>
        <div class="col-md-6">

            <a href="{{ photo.images[0].source }}" rel="lightbox" data-lightbox="images">
                <img src="{{ photo.thumb }}" class="center-block img-responsive img-thumbnail" alt="{{photo.name}}">
            </a>

            <h3>{{photo.name}}</h3>
            <p>
                <span class="badge">{{photo.likeCount}} <i class="fa fa-thumbs-o-up" aria-hidden="true"></i></span>
                <a ng-click="likeImage(photo.id); photo.hasLiked = true; photo.likeCount = photo.likeCount + 1" 
                ng-if="!photo.hasLiked" >
                Like
                </a>
                <a ng-click="unLikeImage(photo.id); photo.hasLiked = false; photo.likeCount = photo.likeCount - 1" 
                ng-if="photo.hasLiked" >
                Unlike
                </a>
            </p>
        </div>


    </div>
    </div>

</div>