<div class="container">

    <h1 id="album-title"> Album </h1>
    <hr>

    <div class="row">
    <div class="col-md-6 text-center" ng-repeat="photo in photos">

        <a href="{{ photo.images[0].source }}" rel="lightbox" data-lightbox="images">
            <img src="{{ photo.thumb }}" class="center-block">
        </a>

        <h3>{{photo.name}}</h3>
        <p>
            <span class="badge">{{photo.likeCount}}</span>
            <a ng-click="likeImage(photo.id); photo.hasLiked = true; photo.likeCount = likeCount + 1" 
               ng-if="!photo.hasLiked" >
               Like
            </a>
            <a ng-click="unLikeImage(photo.id); photo.hasLiked = false; likeCount = likeCount - 1" 
               ng-if="photo.hasLiked" >
               Unlike
            </a>
        </p>

    </div>
    </div>

</div>