<div class="container">

    <div class="row">
        <h1> {{ page.name }} </h1>
        <hr>
        <p> {{ page.description }} </p> 
        <hr>
    </div>

    <div class="row">
        <h2> Albums</h2>
        <div class="col-md-3" ng-repeat="album in albums">
            <a href="#/album/{{ album.id }}">
                <img src="{{ album.picture.data.url }}" class="img-responsive">
            </a>
            <h3>{{album.name}}</h3>
            <p>{{album.count}} Photos | {{album.likes.data.length}} Likes</p>
            <p>{{album.locaton }} </p>
        </div>
    </div>

    <div class="row">
        <h2>Feed</h2>
        <div class="" ng-repeat="feed in feeds">
            <p>{{ feed.message }} </p>
            <p> {{ feed.created_time | date:'medium' }} </p>
        </div>
    </div>

</div>