<div class="container">

<h1 class="text-center"> Documentation </h1>
<hr>

<h2>User Interface Design</h2>
<p> 
    For this project I have opted to use the Bootstrap responsive front end framework. It aligns with many of the Design
    principles taught in this course. Some of the key Design Principles I used through the project include:
</p>

    <ul>
        <li> White Space </li>
        <li> Repetition </li>
        <li> Alignment </li>
    </ul>

<p>
    Bootstrap uses an 1140px container for desktop environments to display the content in the center and have sufficient
    whitespace on either side of the container. This gives a nice and clean look to the page.
</p>

<p>
    Images are aligned with equal widths in the gallery and album views. The design is repetitive and consistent making
    it easy to use and doesn't confuse users.
</p>

<p> I also used the Bootswatch 'Yeti' from <a href="http://bootswatch.com/yeti">Bootswatch.com</a>


</div>