<div class="container">

<h1 class="text-center"> Documentation </h1>
<hr>

<h2>User Interface Design</h2>
<p> For this project I have opted to use the Bootstrap responsive front end framework. It aligns with many of the Design
    principles taught in this course. Some of the key Design Principles I used through the project include:

    <ul>
        <li> White Space </li>
        <li> Repetition </li>
        <li> Alignment </li>
    </ul>

</p>

<p> I also used the Bootswatch 'Yeti' from <a href="http://bootswatch.com/yeti">Bootswatch.com</a>


</div>